/* original style sheet */
@font-face {
  font-family: "FontAwesome";
  src: url("../fonts/fontawesome-webfont.eot?v=4.7.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0")
      format("embedded-opentype"),
    url("../fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
    url("../fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
    url("../fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
    url("../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

/*.subpage {
  padding: 1cm;
  border: 5px #ccc solid;
  height: 257mm;
  outline: 2cm whitesmoke solid;
}*/

.gs-header {
  color: white !important;
  -webkit-print-color-adjust: exact;
}

.gs-text-header {
  background: #c41230 !important;
  -webkit-print-color-adjust: exact;
}

.gs-table-header {
  background: #c41230 !important;
  -webkit-print-color-adjust: exact;
}

.gs-accent-header {
  background: #65201f !important;
  -webkit-print-color-adjust: exact;
}

div.padded {
  padding: 10px;
}

h6.padded,
p.padded {
  padding: 2px 5px;
  margin-top: 10px;
  margin-bottom: 2px;
}

table.reversed tr:nth-child(odd) {
  background-color: #d7dbe1;
  -webkit-print-color-adjust: exact;
}
table.reversed tr:nth-child(even) {
  background-color: white;
}

table {
  font-size: 0.95rem;
  border-spacing: 0;
  border-collapse: collapse;
}

table.tiny-header tr:first-child {
  font-size: 8px;
}

/* .columns{ margin-left: 0 !important; } */

/* .row > .columns:not(:first-child){
padding-left: 20px;
} */

h6 {
  font-size: 1.425rem;
}

h6.tiny-header {
  font-size: 10px;
}

li {
  padding-left: 10px;
}

a {
  color: black;
  cursor: pointer;
}

.page-view {
  text-align: left;
  padding-top: 40px;
}

.middle-aligned {
  padding: 50px 20px 0 0;
  text-align: left;
  vertical-align: middle;
}

.right-aligned {
  text-align: right;
}

.no-page {
  text-align: center;
  margin-top: 100px;
  font-size: 22px;
  font-weight: bold;
}

.tab {
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-bottom-style: none;
  border-top-style: none;
  border-right-style: none;
  color: black;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.tab.first {
  border-left-style: none;
}

/* .tab:focus {
border-style: solid;
  border-color: rgba(0,0,0,1);
  border-bottom-style: none;
  border-top-style: none;
  color: black;
  padding: 10px 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
} */

#page-content > div:nth-child(n + 2) > a {
  visibility: hidden;
}
